@tailwind base;
@tailwind components;
@tailwind utilities;


.fadeIn{
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fromTop{
  visibility: hidden;
  animation: bounceInTop 0.8s forwards 0.5s;
}
@keyframes bounceInTop {
  0% {
      visibility: visible;
      opacity: 0;
      transform: translateY(-100vh);
  }
  60% {
      opacity: 1;
      transform: translateY(30px);
  }
  80% {
      transform: translateY(-2px);
  }
  100% {
      visibility: visible;
      transform: translateY(0);
  }
}


.fromRight{
  visibility: hidden;
  animation: bounceInRight 0.8s forwards 0.5s;
} 
@keyframes bounceInRight {
  0% {
      visibility: visible;
      opacity: 0;
      transform: translateX(100vw);
  }
  60% {
      opacity: 1;
      transform: translateX(-30px);
  }
  80% {
      transform: translateX(2px);
  }
  100% {
      visibility: visible;
      transform: translateX(0);
  }
} 


.fromBottom{
  visibility: hidden;
  animation: bounceInBottom 0.8s forwards 0.5s;
}
@keyframes bounceInBottom {
  0% {
      visibility: visible;
      opacity: 0;
      transform: translateY(100vh);
  }
  60% {
      opacity: 1;
      transform: translateY(-30px);
  }
  80% {
      transform: translateY(2px);
  }
  100% {
      visibility: visible;
      transform: translateY(0);
  }
} 


.fromLeft{
  visibility: hidden;
  animation: bounceInLeft 1s forwards .5s;
}
@keyframes bounceInLeft {
  0% {
      visibility: visible;
      opacity: 0;
      transform: translateX(-100vw);
  }
  60% {
      opacity: 1;
      transform: translateX(30px);
  }
  80% {
      transform: translateX(-2px);
  }
  100% {
      visibility: visible;
      transform: translateX(0);
  }
} 

.box {
  position: relative;
}
.glowing::before{
  content: '';
  position: absolute;
  left: -4px;
  top: -4px;
  background: linear-gradient(45deg, #374151cd,#1f2937d3,#111827f1,#161616e9);
  background-size: 400%;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 10px;
  z-index: -1;
  animation: glower 20s linear infinite;
}
@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}




@layer components{
  .btn-white{
    @apply px-3 py-0.5 text-white no-underline text-sm ring-4 rounded-md ring-white/20 
    hover:text-black hover:bg-amber-300
    active:scale-95 duration-200
  }
  .link{
    @apply font-bold text-sm no-underline text-white/50 duration-200 transition-all
    hover:text-amber-300
    active:text-amber-300 active:no-underline active:scale-95
  }
  .link-active{
    @apply font-bold text-sm underline decoration-[3px] underline-offset-4 text-amber-300
    hover:text-amber-300 duration-200 
    active:text-amber-300 active:scale-95
  }
  .item-card{
    @apply basis-[20rem] sm:shrink-0 rounded-lg shadow-md flex flex-col justify-between bg-white p-3;
  }
  .item-card img{
    @apply object-scale-down h-40 mx-auto w-full;
  }
  .item-card p{
    @apply text-xs font-medium h-[5rem] overflow-auto;
  }
  .item-card h5{
    @apply flex justify-between items-center rounded ;
  }
  .input-field , .text-field{
    @apply border-[3px] border-gray-700/50 focus:border-gray-700/90 outline-none py-1 px-2 rounded
  }
  .text-field{
    @apply min-h-[100px]
  }
}

.item-container .item-card:hover{
  @apply ring-4 ring-offset-2 ring-gray-600 z-10;
}
.item-container .item-card:not(:first-child){
  @apply xl:-ml-[12rem];
}
.item-container .item-card:not(:last-child):hover{
  @apply xl:mr-[11rem] xl:duration-500;
}
.item-container:hover .item-card:not(:hover){
  @apply xl:blur-sm xl:duration-500
}
.num-field .input-field{
  @apply placeholder:text-xs;
}

@layer utilities{
  .border-4{
    @apply border-black;
  }
  .slide{
    @apply block w-full h-[30rem] object-cover mx-auto;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    @apply m-0;
  }
}


.input-container{
  @apply relative z-0 mb-8 w-full;
}

.input-field{
  @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-4 border-gray-900/20 appearance-none focus:outline-none focus:border-sky-600;
}

.input-label{
  @apply absolute text-base font-medium text-gray-900 duration-300 -translate-y-8 top-3 -z-10 origin-[0];
}


.blog-card{
  @apply text-lg font-bold text-gray-800 basis-[27rem] grow shrink p-3 space-y-3 rounded-xl;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.343);
}

.Q-A{
  @apply underline decoration-4 underline-offset-4 mr-2 text-lg text-gray-800;
}

.blog-card h6{
  @apply text-left text-sm sm:text-base sm:h-[60px] ;
}

.blog-card p{
  @apply h-[13.1rem] rounded overflow-auto text-sm font-medium text-gray-800/70;
}

.blog-key{
  @apply text-amber-600/80 ;
}

.extra{
  @apply m-10 shrink py-3 px-5 rounded-xl bg-amber-400 space-y-3 text-black font-medium border-[3px] border-amber-500 
  hover:scale-105 duration-300 hover:ring-4 ring-offset-2 ring-amber-400;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.343);
}